# Avoid baking the database into the image
data/
*.db
*.db-journal

# Python junk
__pycache__/
*.pyc
.ruff_cache/

# Development files
.git/
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
Makefile
docker-compose.yml
README.md
LICENSE
docs/
tests/
_includes/
.github/
.venv/
.pytest_cache/
data/
_config.yml
cliff.toml
create_release.sh
notes.md
